<div style="background-color: aliceblue;">


  <form #cardForm="ngForm" (submit)="onSaveCard(cardForm)" >

      <div class="form-group">
          <input type="text" class="form-control" ngModel name="title" [ngModel]="cardTitle" placeholder="Enter a card title" #title>
        </div>

        <div class="form-group">
          <textarea class="form-control" rows="5" ngModel name="description" [ngModel]="cardDesc" placeholder="Add a description"></textarea>
        </div>

        <div class="form-group" *ngFor="let comment of comments let i = index">
          <input type="text" class="form-control card-comments" ngModel name="comment_{{i}}" [ngModel]="cardComments" placeholder="Add a comment">
        </div>

        <div class="row">
          <i style="margin-left: 20%; cursor: pointer;" class="fa fa-plus" (click)="onAddNewComment()" aria-hidden="true">Add a new comment</i>
        </div>

        <div>
          <button style="float: right;" [disabled]="title.value.length == 0" type="submit" class="btn btn-primary">Save card</button>
        </div>



  </form>



</div>
