<div class="container">

    <div cdkDropListGroup>
      <div class="example-container" *ngFor="let f of lists let listIndex = index">
        <h2>{{f.item}}</h2>
        <div class="example-list" *ngIf="f.children"
          cdkDropList
          [cdkDropListData]="f.children"
          (cdkDropListDropped)="drop($event)">


            <div class="example-box" style="background-color: ghostwhite;" *ngFor="let item of f.children" cdkDrag>

                <mat-list  *ngIf="item.title.length > 0">

                      <mat-list-item class="display-4"><h4>{{item.title}}</h4></mat-list-item>
                      <mat-list-item class="text-muted">{{item.description}}</mat-list-item>

                      <mat-list style="margin-left:30px;">

                        <mat-list-item  *ngFor="let comment of item.comments">
                            <i class="fa fa-caret-right" aria-hidden="true" style="margin: 5px;"></i>
                            {{comment}}
                        </mat-list-item>
                      </mat-list>

                </mat-list>



                <app-card   *ngIf="item.title.length == 0" style="width: 100%"></app-card>

            </div>


            <div><i style="margin-left: 50%; cursor: pointer;" (click)="onClickAddCard(listIndex)"
              class="fa fa-plus" aria-hidden="true"></i></div>

        </div>
      </div>
    </div>

</div>
