/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: ghostwhite}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~bootstrap/dist/css/bootstrap.min.css';
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
